.box{
    height: 300px;
    width: 300px;
    background-color:bisque;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

    transition: all 2s linear 1s;
     /* property name | duration | easing function | delay*/

}

.box:hover{
    /* transform: rotate(360deg); */
    /* transform: rotate(-40deg); */
    

    /* transform: scale(0.5); */
    /* transform: skew(30deg); */
     /* transform: skew(-30deg); */

     /* transform: translate(400px,0); */
     /* transform: translate(0,-200px); */
     /* transform: translate(200px,200px); */
     transform: translate(-400px,-200px);



}

.container{
    background-color: rgba(105, 241, 241, 0.39);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* *{
    margin: 0;
    padding: 0;
} */